# Qt-specific
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*
*.qm
*.prl

# Qt Creator
*.autosave

# Executables
*.exe
*.dll
*.so
*.dylib

# Debug files
*.pdb
*.ilk

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
x64/
Debug/
Release/

# Log files
*.log
log/

# Temporary files
*.obj
*.stash
*.cbt
*.tmp
temp/